    .game-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width:100vh;
        background-color: rgb(0, 255, 229);
    }
    .board {
    display: flex;
    flex-direction: column;
    }

    .row {
    display: flex;
    }

    .cell {
    width: 5vw;  /* Responsive size */
    height: 5vw;
    border: 1px solid #ccc;
    background-color: white;
    }

    .snake {
    background-color: green;
    }

    .food {
    background-color: red;
    }


    #root {
    margin: 0 auto; 
    text-align: center;
    }

    #root, .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    }

    .main-content {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;     
    }


    @keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    }

    @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
    }


